html {
  @font-face {
    font-family: "GajrajOne-Regular";
    src: url(home/fonts/GajrajOne-Regular.ttf);
  }
  font-size: 20px;
}
	body{
		background-color:lightgreen;
    color:cadetblue;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: sans-serif;
		margin: 0;

	}
  