html {
  @font-face {
    font-family: "GajrajOne-Regular";
    src: url(home/fonts/GajrajOne-Regular.ttf);
  }
  font-size: 20px;
}
	body{
		width: 830px;
		margin: 0 auto;
		background-color:darkslateblue;
		padding: 0 20px 20px 20px;
		border: 5px solid darkorchid;
	}
	h1,h2,h3,h4 {
		text-align: center;
		margin: 0;
		padding: 20px 0;
		color: #691457;
		text-shadow: 2px 2px 2px black;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	p{
		text-align: center;
	}
	a{
    	color: #c70808;
	}